<table class="urgency">
  <tr>
    <td class="red">
      <div class="medium">Service d’urgence</div>
      <div class="big">24/7</div>
      <div class="small">Garantie de résultats à 100%</div>
    </td>
    <td class="phone">
      <div>
        <span class="normal">Dans le Grand Montréal</span>
        <span class="red"><a href="tel:4506782562">(450) 678-2562</a></span>
      </div>
      <div>
        <span class="normal">Partout ailleurs</span>
        <span class="red"><a href="tel:18668068648">1 866 806-8648</a></span>
      </div>
    </td>
  </tr>
</table>